body {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
  font-weight: bold;
  color: #0000CC;
  background: url('img/notebook_paper_no_margin.jpg');
  background-repeat: repeat-y;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  color: #FF00FF;
  font-family: 'Monoton', cursive;
  word-spacing: .3em;
  text-align: center;
}

h2 {
  font-family: 'Jolly Lodger', cursive;
  font-size: 1.500em;
  color: #008800;
}

.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png');
  background-repeat: no-repeat; right top;
  padding: 5px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.new-cupcakes {
  margin-left: 50px;
}

.btn:hover {
  background-color: #4CC4A7;
}

ul.nav {
  margin: 120px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #0000CC;
}

/*#intro {
  margin: 50px 0 75px 0;
}*/
#spacer1{border: 2px solid orange;}
#spacer2{border: 2px solid green;}

#new-cupcakes img {
  border: 8px dotted #FF0000;
  margin: 0 0 20px 0;
   transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg); /* Safari and Chrome */
}

#inspiration {
  margin-left: 170px;
}

#inspiration img{
  border: 8px solid #FF0000;
/*  margin-left: 200px;*/
}

#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}
